div {
	width: 200px;
	height: 200px;
	margin: 0px;
	padding: 0px;
	border: 2px solid yellow;
}

.red {
	background: red;
	position: absolute;
	left: 0px;
	top: 0px;
}

.blue {
	background: blue;
	position: absolute;
	right: 0px;
	top: 0px;
}

.green {
	background: green;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.yellow {
	background: yellow;
	position: absolute;
	right: 0px;
	bottom: 0px;
}